html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222020;
}
.slider-wrap {
  display: block;
  width: 800px;
}
.slider-window {
  overflow: hidden;    
  box-shadow: 0 0 18px 0px rgba(255, 255, 255, 0.30);
}
.slider-box {
  display: flex;
  align-items: flex-start;
  background: #0ff;
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.buttons-box {
  margin-top: 10px;
  display: flex;
}
.buttons-box span {
  display: block;
  flex-grow: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;    
  color: #ff9393;
  cursor: pointer;
}
.buttons-box span.active {
  color: #57a4ff;
}