*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
html,body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrap {
  width: 800px;
}
.slider-box {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.slider-box img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.slider-box .current {
  transform: translateX(0);
}
.slider-box .enter {
  transform: translateX(100%);
}
.slider-box .leave {
  transform: translateX(-100%);
}
.up-level {
  z-index: 1;
}
.buttons-box {
  margin-top: 10px;
  display: flex;
}
.buttons-box span{
  display: block;
  flex-grow: 1;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.buttons-box .red {
  color: #f33;
}