*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
html,body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19191e;
}
.slider-wrap {
  position: relative;
  width: 800px;
  box-shadow: 0 0 40px -5px rgba(255, 255, 255, 0.35);
}
.slider-box {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.slider-box img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.slider-box .current {
  transform: translateX(0);
}
.slider-box .enter {
  transform: translateX(100%);
}
.slider-box .leave {
  transform: translateX(-100%);
}
.up-level {
  z-index: 1;
}
.buttons-box {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.buttons-box span {
  display: block;
  margin-bottom: 15px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: #666;
  border-radius: 1px;
  background: rgba(255,255,255,0.5);
  transition: all 0.4s;
}
.buttons-box span:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 8px -1px rgba(0,0,0,0.5);
}